.collections {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.colall {
  margin: 40px 0;
}
.col-section {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.333);
}
.col-section h1 {
  margin-bottom: 20px;
  color: #ffffffa3;
}
.collections img {
  height: 300px;
}
.collections p {
  padding: 0 10px;
  font-size: 15px;
}
.collections .MovieCard {
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  width: 18%;
}
.collections .movies-container {
  overflow: scroll;
}
.center {
  text-align: center;
}

@media (max-width: 1200px) {
  .movies-container .MovieCard {
    width: 20%;
  }
}
@media (max-width: 1020px) {
  .movies-container .MovieCard {
    width: 25%;
  }
}
@media (max-width: 850px) {
  .movies-container .MovieCard {
    width: 30%;
  }
}
@media (max-width: 680px) {
  .movies-container .MovieCard {
    width: 35%;
  }
}

@media (max-width: 550px) {
  .movies-container .MovieCard {
    width: 40%;
  }
}
@media (max-width: 450px) {
  .movies-container .MovieCard {
    width: 50%;
  }
}
@media (max-width: 360px) {
  .movies-container .MovieCard {
    width: 60%;
  }
}
@media (max-width: 320px) {
  .movies-container .MovieCard {
    width: 70%;
  }
}
