.com {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 200px;
}

.my-movie {
  margin-top: 40px;
}
.my-movie .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit-buttons {
  display: flex;
  gap: 30px;
}
.ed {
  color: white;
  font-size: 34px;
}
.my-movie label {
  color: gray;
  font-size: 15px;
}
.edit {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.edit select {
  border: none;
  padding: 5px;
  border-radius: 5px;
}
textarea:focus {
  outline: none;
}
textarea {
  border: none;
}
.my-movie textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  border-radius: 5px;
}
.my-movie input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 20%;
}
.collect {
  font-size: 20px;
}
.collect span {
  color: #62d555;
}

.label:hover,
.edit-buttons:hover {
  cursor: pointer;
}
.tagline {
  text-align: center;
}
@media (max-width: 1200px) {
  .my-movie {
    padding-right: 20px;
  }
}

@media (max-width: 610px) {
  .edit-buttons {
    gap: 10px;
  }
  .ed {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .my-movie input {
    width: 35%;
  }
}
@media (max-width: 500px) {
  .my-movie .top {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
  }
  .edit-buttons {
    align-self: flex-end;
  }
  .my-movie h1 {
    font-size: 16px;
  }
  .edit {
    flex-direction: column;
    align-items: flex-start;
  }
  .my-movie input {
    width: 60%;
  }
}
