.home .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section {
  margin-bottom: 40px;
}
.home .hero {
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  height: 500px;
  margin-top: 40px;
  position: relative;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.hero div {
  position: absolute;
  left: 0;
  bottom: 30%;
  background-color: rgba(0, 0, 0, 0.536);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 15px;
  z-index: 1;
}
.hero p {
  font-size: 44px;

  width: 75%;
  font-weight: bold;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hero .button {
  width: fit-content;
  font-size: 20px;
}
.home .genre {
  margin-top: 40px;
}

.genre .genres-container {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  row-gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.genrep {
  border: 2px white solid;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 55px;
}
.genrep:hover {
  background-color: rgba(93, 224, 78, 0.6);
  cursor: pointer;
}
.buttonall {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: rgb(98, 213, 85);
  color: white;
  width: fit-content;
  margin: 0 auto;
}

.buttonall:hover {
  cursor: pointer;
  background-color: rgb(72, 228, 55);
}
@media (max-width: 1350px) {
  .hero p {
    font-size: 35px;
    width: 100%;
    padding: 40px;
  }
  .hero div {
    gap: 0px;
    bottom: 20%;
  }
  .home .hero {
    height: 400px;
  }
  .home .genre .genres-container {
    flex-wrap: nowrap;
    overflow: scroll;
    row-gap: 0;
    align-items: center;
    justify-content: flex-start;
  }
  .home .genrep {
    width: 180px;
    text-align: center;
    padding: 15px 20px;
  }
  .home .genre .genres-container::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 1220px) {
  .home .hero {
    margin-left: -20px;
  }
}
@media (max-width: 1000px) {
  .hero p {
    font-size: 25px;

    padding: 20px;
  }

  .home .hero {
    height: 350px;
  }
}
@media (max-width: 640px) {
  .hero p {
    font-size: 25px;
    padding: 10px;
  }
  .hero div {
    gap: 10px;
    bottom: 25%;
  }
  .home .hero {
    height: 340px;
  }
}
@media (max-width: 500px) {
  .hero p {
    font-size: 20px;
    padding: 10px;
  }
}
